/apps/core/__pycache__
/apps/methods/__pycache__
/apps/gui/__pycache__
/apps/components/Img_Factory/__pycache__
/apps/__pycache__
/apps/components/__pycache__
/apps/debug/__pycache__
/apps/components/Img_Creator/__pycache__
/apps/utils/__pycache__
